<?xml version="1.0" encoding="utf-8" ?>
<dynamic>
  <ItemOne FirstValue="1" SecondValue="2"></ItemOne>
  <ItemTwo FirstValue="1" SecondValue="2"></ItemTwo>
  <ItemThree FirstValue="05/08/2013 12:01:10" SecondValue="100.00000"></ItemThree>
  <ItemFour AlternativeDateFormat="2013-08-05 12:01:10"></ItemFour>
  <ConnectionStrings>
    <ConnectionString name="ConnectionToDatabaseOne"></ConnectionString>
    <ConnectionString name="ConnectionToDatabaseAnotherDatabase"></ConnectionString>
    <ConnectionString name="ConnectionToDatabaseAThirdDatabase"></ConnectionString>
  </ConnectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</dynamic>