<?xml version="1.0" encoding="utf-8" ?>
<dynamic>
  <ItemOne FirstValue="1" SecondValue="2"></ItemOne>
  <ItemTwo FirstValue="1" SecondValue="2"></ItemTwo>
  <ItemThree FirstValue="05/08/2013 12:01:10" SecondValue="100.00000"></ItemThree>
  <ItemFour AlternativeDateFormat="2013-08-05 12:01:10"></ItemFour>
  <ConnectionStrings>
    <ConnectionString name="ConnectionToDatabaseOne"></ConnectionString>
    <ConnectionString name="ConnectionToDatabaseAnotherDatabase"></ConnectionString>
    <ConnectionString name="ConnectionToDatabaseAThirdDatabase"></ConnectionString>
  </ConnectionStrings>
</dynamic>